name: Build

on: push

jobs:
  release:
    name: Build & Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

#      - name: Make Directory
#        run:  |
#          cd github-policy
#          mkdir reports
#          echo 'COMPLETED'

      - name: Pip Install
        run: |
          cd github-policy
          pip install -r requirements.txt

      - name: Run Script
        env:
          TOKEN: ${{ secrets.PYTHON_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd github-policy/reports
          python github-policy/main.py > `date +%F`-output.log


      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: repo-report
          path: github-policy
