name: Build

on: push

jobs:
  release:
    name: Build & Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Run Script
        env:
          TOKEN: ${{ secrets.PYTHON_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd github-policy
          python main.py
