name: Build

on: push

jobs:
  release:
    name: Build & Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Pip Install
        run: |
          cd github-policy
          pip install -r requirements.txt

      - name: Run Script
        run: |
          cd github-policy
          python main.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SLACK_HOOK: ${{secrets.SLACK_HOOK}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

#      - name: Upload Artifact
#        uses: actions/upload-artifact@v2
#        with:
#          name: repo-report
#          path: github-policy/reports/output.log
